$primary: #232f3e;
$secondary: #ec7211;

$info: #cce3ff;
$info-dark: #3e84e5;
$success: #c5f7dd;
$success-dark: #3bc27a;
$warning: #ffe8c3;
$warning-dark: #e7a027;
$danger: #ffd0cb;
$danger-dark: #e9594c;
$dimmed: #e9e8eb;
$dimmed-dark: #717584;

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;
$td-enable-google-fonts: true;

$google_font_name: "Poppins";
$google_font_family: "Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900";

.code-toolbar,
.td-content .highlight {
  font-family: monospace !important;
  border-radius: .5rem !important;
  overflow: hidden;
}

div.code-toolbar > .toolbar button {
  padding: .3rem .5rem !important;
  background-color: $secondary !important;
  color: #ffffff !important;
}

.btn-center {
  display: block !important;
  margin: auto;
}

.alert {
  border-radius: .3rem !important;
  border-left-width: 8px !important;
}

.alert.alert-info {
  background-color: $info;
  border-color: $info-dark;
}

.alert.alert-success {
  background-color: $success;
  border-color: $success-dark;
}

.alert.alert-warning {
  background-color: $warning;
  border-color: $warning-dark;
}

.alert.alert-danger {
  background-color: $danger;
  border-color: $danger-dark;
}

.alert.alert-dimmed {
  background-color: $dimmed;
  border-color: $dimmed-dark;
}

img {
  border-radius: .5rem;
}

.btn {
  border-radius: .5rem !important;
  padding: .3rem 1.5rem !important;
}

.btn.btn-info {
  background-color: #3e84e5;
  border-color: #3e84e5;
  color: #ffffff;
}

.btn.btn-info:hover {
  background-color: #649ae6;
  border-color: #649ae6;
}

.btn.btn-secondary {
  background-color: #ec7211;
  border-color: #ec7211;
  color: #ffffff;
}

.btn.btn-secondary:hover {
  background-color: #e6883b;
  border-color: #e6883b;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ffffff !important;
  text-shadow: none !important;
}