$primary: #232f3e;
$secondary: #ec7211;

$info: #cce3ff;
$info-dark: #3e84e5;
$success: #c5f7dd;
$success-dark: #3bc27a;
$warning: #ffe8c3;
$warning-dark: #e7a027;
$danger: #ffd0cb;
$danger-dark: #e9594c;
$dimmed: #e9e8eb;
$dimmed-dark: #717584;

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;
$td-enable-google-fonts: true;

$google_font_name: "Poppins";
$google_font_family: "Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900";
